    <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
              
    <div class="row" >
        <div class="col-md-9 col-sm-12 col-xs-12">
        <h3>Manage Office Supplies</h3> 
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-borderless">
                    <thead class="bg-light">
                        <tr>
                          <th>Date</th>
                          <th>Time In</th>
                          <th>Time Out</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">27/06/2023</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="fw-normal mb-1">12:30</p>
                          </td>
                          <td>
                            <p class="fw-normal mb-1">13:15</p>
                          </td>
                        </tr>
                        <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">27/06/2023</p>
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="fw-normal mb-1">12:30</p>
                            </td>
                            <td>
                              <p class="fw-normal mb-1">13:15</p>
                            </td>
                          </tr>
                      </tbody>
                </table>
            </div>
        </div>
        
        </div>
    </div>
    <!--End of Main Content here.-- End of module component here.-->