    <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->       
    <div class="row" >
      
      <canvas id="chart"></canvas>

    </div>
<br>
<br>
<div class="col-md-8 col-sm-12 col-xs-12"> 
  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table">
          <thead >
              <tr>
                <th>Update Item</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <p class="fw-bold mb-1">Name</p>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <p class="fw-bold mb-1">4000</p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
      </table>
      </div>
      </div>
  </div>
    <!--End of Main Content here.-- End of module component here.-->