

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <div class="container">
        <div class="sign-in">
            <div class="inner">
                <h1>OMF Sign in</h1>

                <div class="form-container">
                    <form [formGroup]="loginForm">
                        <label for="">Email</label><br>
                        <input formControlName="email" />
                       
                        <label for="">Password</label><br>
                        <input type="password" formControlName="password" />
                        <!-- <app-input formControlName="password" [control]="loginForm.controls.password"></app-input> -->
                        
                        <button (click)="login()"
                         type="submit"  
                         class="btn btn-primary btn-block mb-4">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>