.center_pos {
    margin: auto;
    padding-top: 70px;
    width: 50%;
    border: 3px solid rgb(18, 103, 143);
    padding: 10px;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(70%);
  }