    <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
              
    <div class="row" >
      <div class="col-md-8 col-sm-12 col-xs-12">
      <h3>Manage Users</h3> 
      <div class="panel panel-default">
          <div class="panel-body">
              <table class="table table-borderless">
                  <thead >
                      <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Department</th>
                        <th>Position</th>
                        <a class="btn btn-success square-btn-adjust" style="margin-left: 80px;"> Add User</a>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Name</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Name</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Name</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">Name</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <br>
                          <a routerLink="" class="btn btn-success square-btn-adjust" style="margin-right: 10px;">Edit User</a>
                          <a routerLink="" class="btn btn-danger square-btn-adjust">Delete</a>
                        </td>
                      </tr>
                    </tbody>
              </table>
          </div>
      </div>
      
      </div>
  </div>
  <!--End of Main Content here.-- End of module component here.-->