    <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
              
    <div class="row" >
        <div class="col-md-9 col-sm-12 col-xs-12">
        <h3>My Meeting</h3> 
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-borderless">
                    <thead class="bg-light">
                        <tr>
                          <th>Date</th>
                          <th>Venue</th>
                          <th>Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">27/06/2023</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">Green Training Room</p>
                                </div>
                              </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">13:00</p>
                                </div>
                              </div>
                          <td>
                            <br>
                            <a routerLink="" class="btn btn-success square-btn-adjust">Update</a>
                          </td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
        
        </div>

        <!-- Select Meeting Room -->
        <div class="col-md-9 col-sm-12 col-xs-12">
            <h3>Meeting Room Booking</h3> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-borderless">
                        <thead class="bg-light">
                            <tr>
                              <th>Venue</th>
                              <th>Date</th>
                              <th>Time</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="ms-3"><br>
                                    <select name="field4" class="field-select">
                                        <option value="Laptop">Green Meeting Room</option>
                                        <option value="Headsets">Yellow Meeting Room</option>
                                        <option value="Desktop">Red Training Room</option>
                                        </select>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3"><br>
                                    <input type="date" name="field1" class="field-divided" />
                                    </div>
                                  </div>
                              </td>
                              <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3"><br>
                                        <input type="time" name="field1" class="field-divided" />
                                    </div>
                                  </div>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
            
            </div>
    </div>
    <!--End of Main Content here.-- End of module component here.-->