    <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
              
    <div class="row" >

          <div class="col-md-9 col-sm-12 col-xs-12">
          <h3>Meeting Room Booking</h3> 
            <div class="panel panel-default">

                <div class="panel-body">
                    <form [formGroup]="createMeetingForm">

                        <ul class="form-style-1">
                            <li>
                                <label>Meeting Venues</label>
                                  <select formControlName="roomName" class="field-select">
                                  <option>Green Room</option>
                                  <option>Blue Room</option>
                                  <option>Red Room</option>
                                  </select>
                            </li>
                            
                            <li><label>Date</label></li>
                            <input type="date" formControlName="date">

                            <li><label>Start Time<span class="required"></span></label>
                              <input type="time" formControlName="startTime" class="field-divided" /></li>

                            <li><label>End Time<span class="required"></span></label>
                              <input type="time" formControlName="endTime" class="field-divided" /></li>
                      
                            <li>
                                <button class="btn btn-success square-btn-adjust" type="submit" (click)="createAMeeting()">Book Room</button>
                            </li>
                        </ul>

                    </form>
                </div>

            </div>
          </div>

          <div class="col-md-9 col-sm-12 col-xs-12">
            <h3>My Meeting</h3> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-borderless">
                        <thead class="bg-light">
                            <tr>
                              <th>Date</th>
                              <th>Room Name</th>
                              <th>Start Time</th>
                              <th>End Time</th>
                              <th>Booking Status</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let meeting of userMeetingBookings">
                            <tr>
  
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="ms-3">
                                    <p class="fw-bold mb-1">{{ meeting.bookingDate }}</p>
                                  </div>
                                </div>
                              </td>
  
                              <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                      <p class="fw-bold mb-1">{{ meeting.roomName }}</p>
                                    </div>
                                  </div>
                              </td>
                  
                              <td>
                                <div class="d-flex align-items-center">
                                    <div class="ms-3">
                                      <p class="fw-bold mb-1">{{ meeting.startTime }}</p>
                                    </div>
                                  </div>
                              </td>
  
                                <td>
                                  <div class="d-flex align-items-center">
                                      <div class="ms-3">
                                        <p class="fw-bold mb-1">{{ meeting.endTime }}</p>
                                      </div>
                                    </div>
                                </td>
  
                                  <td>
                                    <div class="d-flex align-items-center">
                                        <div class="ms-3">
                                          <p class="fw-bold mb-1">{{ meeting.status }}</p>
                                        </div>
                                      </div>
                                  </td>
                                
                                <br>
                                <a class="btn btn-success square-btn-adjust" (click)="updateDialog()">Update</a>
                             
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
  
          </div>
  

        
    </div>
    <!--End of Main Content here.-- End of module component here.-->