        <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
              
        <div class="row" >
          <div class="col-md-9 col-sm-12 col-xs-12">

            <hr>
            <h3>Asset Requests</h3>
            <div class="panel-body">
              <table class="table table-borderless">
                  <thead class="bg-light">
                      <tr>
                        <th>Applicant</th>
                        <th>Asset Name</th>
                        <th>Check-Out Date</th>
                        <th>Return Date</th>
                        <th>Request Message</th>
                        <th>Approve</th>
                        <th>Decline</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let log of log_requests">
                      <tr>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">{{ log.candidate_name }}</p>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">{{ log.asset_name }}</p>
                            </div>
                          </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">{{ log.from_date }}</p>
                              </div>
                            </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">{{ log.to_date }}</p>
                              </div>
                            </div>
                        </td>

                        <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">{{ log.notes }}</p>
                              </div>
                            </div>
                        </td>

                        <td>
                            <a (click)="approveRequest( log.id )" class="btn btn-success" style="margin-right: 4px">Approve</a>
                        </td>

                        <td>
                            <a (click)="declineRequest( log.id )" class="btn btn-danger">Decline</a>
                        </td>
                      </tr>
                    </tbody>
              </table>
            </div>

            <hr>
            <h3>Room Bookings</h3>
            <div class="panel-body">
              <table class="table table-borderless">
                  <thead class="bg-light">
                      <tr>
                        <th>Applicant</th>
                        <th>Date</th>
                        <th>Room Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Approve</th>
                        <th>Decline</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let meeting of allUserBookings">
                      <tr>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">{{ meeting.applicant_name }}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                            <div class="ms-3">
                              <p class="fw-bold mb-1">{{ meeting.booking_date }}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">{{ meeting.room_name }}</p>
                              </div>
                            </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">{{ meeting.start_time }}</p>
                              </div>
                            </div>
                        </td>
                        <td>
                          <div class="d-flex align-items-center">
                              <div class="ms-3">
                                <p class="fw-bold mb-1">{{ meeting.end_time }}</p>
                              </div>
                            </div>
                         <td>
                            <a (click)="acceptAssetLog( meeting.bookingId )" class="btn btn-success" style="margin-right: 4px">Approve</a>
                        </td>

                        <td>
                            <a (click)="declineAssetLog( meeting.bookingId )" class="btn btn-danger">Decline</a>
                        </td>
                      </tr>
                    </tbody>
              </table>
            </div>
        
          </div>

      </div>



      <hr>
      <div class="col-md-9 col-sm-12 col-xs-12">
          
      </div>
      <!--End of Main Content here.-- End of module component here.-->

      
