<!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
 <!-- <ng-container> -->
    <div class="row" *ngIf="user_interface">

        <div class="col-md-3 col-sm-6 col-xs-6">           
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-tasks"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">{{meetingsCount}} Upcoming</p>
                    <p class="text-muted">Meetings</p>
                </div>
            </div>
        </div>

        <!-- <div class="col-md-3 col-sm-6 col-xs-6">           
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-clock-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text"> {{registerCount}} Attendace</p>
                    <p class="text-muted">History</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-6">           
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-user"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">240 New</p>
                    <p class="text-muted">Notifications</p>
                </div>
            </div>
        </div> -->


        <div class="col-md-9 col-sm-12 col-xs-12">
 
            <div class="panel panel-default">
                <div class="panel-heading">
                Meetings
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Room Name</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Booking Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>100090</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- /. ROW  -->
            <hr/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                    Asset Register
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Asset Name</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Status</th>
                                        <th>Reason</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let log of log_requests">
                                    <tr>
                                        <td>{{log.id}}</td>
                                        <td>{{ log.assetName}}</td>
                                        <td>{{ log.fromDate | date}}</td>
                                        <td>{{ log.toDate | date}}</td>
                                        <td>{{ log.logStatus }}</td>
                                        <td>{{ log.notes }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    
            
            <!-- /. ROW  -->
            <hr/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                    Digital Register
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Event Type</th>
                                        <th>Time</th>
                                        <th>Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    
        </div>
    </div><!--End of Main Content here.-- End of module component here.-->

              
    <div class="row" *ngIf="admin_interface">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">           
            <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
                <i class="fa fa-users"></i>
            </span>
            <div class="text-box" >
                <p class="main-text">{{ usersCount }} Manage</p>
                <p class="text-muted">Users</p>
            </div>
            </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-green set-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                    <div class="text-box" >
                        <p class="main-text">{{ meetingsCount }} Manage</p>
                        <p class="text-muted">Meeting Bookings</p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-blue set-icon">
                        <i class="fa fa-laptop"></i>
                    </span>
                    <div class="text-box" >
                        <p class="main-text">{{  }} Manage</p>
                        <p class="text-muted">Assets</p>
                    </div>
                </div>
            </div> -->

            <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                    <span class="icon-box bg-color-brown set-icon">
                        <i class="fa fa-cutlery"></i>
                    </span>
                    <div class="text-box" >
                        <p class="main-text">{{ registerCount }} Manage</p>
                        <p class="text-muted">User Register</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-12 col-xs-12">
            <!-- <p>Preview 1</p>  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                Users
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>User No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>100090</td>
                                </tr>
 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <!-- /. ROW  -->
            <hr/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    Food Supplies
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>User No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>100090</td>
                                    </tr>
 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
            <!-- /. ROW  -->
            <hr/>

                <div class="panel panel-default">
                    <div class="panel-heading">
                    Facilities
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>User No.</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>100090</td>
                                    </tr>
 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    
        </div>

    </div><!--End of Main Content here.-- End of module component here.-->
 
 <!-- </ng-container> -->