<h3 mat-dialog-title>Add User</h3>
<div mat-dialog-content>
  <form class="form" [formGroup]="addUserForm">

    <mat-label>Email</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="email" matInput placeholder="">
    </mat-form-field>

    <mat-label>First Name</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="first_Name" matInput placeholder="">
    </mat-form-field>

    <mat-label>Last Name</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="last_Name" matInput placeholder="">
    </mat-form-field>

    <mat-label>Username</mat-label>
    <mat-form-field appearance="outline"> 
      <input formControlName="username" matInput placeholder="">
    </mat-form-field>

    <mat-label>Role</mat-label>
    <mat-form-field appearance="outline">
      <mat-select formControlName="role" placeholder="Select role">
        <mat-option value="">User</mat-option>
        <mat-option value="">Admin</mat-option>
    </mat-select>
    </mat-form-field>

    <mat-label>Address</mat-label>
    <mat-form-field appearance="outline">
      <input formControlName="address" matInput placeholder="">
    </mat-form-field>
   
    <!-- <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input formControlName="address" matInput placeholder="User address">
    </mat-form-field><br> -->

      <!-- =========================================================== -->

      <!-- <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department" placeholder="Select Department">
            <mat-option value="">Contact Center</mat-option>
            <mat-option value="">Digilink</mat-option>
            <mat-option value="">FIS</mat-option>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label>Positon</mat-label>
        <mat-select formControlName="position" placeholder="Select Positon">
            <mat-option value="">Candidate</mat-option>
            <mat-option value="">Data Analytics</mat-option>
            <mat-option value="">Software Tester</mat-option>
            <mat-option value="">Senior Tester</mat-option>
            <mat-option value="">Intern Software Developer</mat-option>
        </mat-select>
      </mat-form-field> -->
      
    <div mat-dialog-action [align]="'end'">
      <button (click)="addNewUser()" mat-raised-button color="primary">Add</button>
      <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
    </div>

  </form>
   
</div>
