<h3 mat-dialog-title>Add User</h3>
<div mat-dialog-content>
  <form
    [formGroup]="updateUser()">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="firstName" matInput placeholder="Enter Name">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input formControlName="lastName" matInput placeholder="Enter Surname">
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="department" placeholder="Select Department">
            <mat-option value="">Intern</mat-option>
            <mat-option value="">Manager</mat-option>
            <mat-option value="">Senior Developer</mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field appearance="outline">
        <mat-label>Positon</mat-label>
        <mat-select formControlName="role" placeholder="Select Positon">
            <mat-option value="">Intern</mat-option>
            <mat-option value="">Manager</mat-option>
            <mat-option value="">Senior Developer</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
</div>
<div mat-dialog-action [align]="'end'">
    <button (click)="updateUser()" mat-raised-button color="primary">Add</button>
    <button style="margin-left: 8px;" mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>