    <!--Main Content Comes here.-- Place router-outlet here for reusable module component-->
              
    <div class="row" >
        <div class="col-md-9 col-sm-12 col-xs-12">
        <h3>My Attendance</h3> 
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-borderless">
                    <thead class="bg-light">
                        <tr>
                          <th>Event Type</th>
                          <th>Time</th>
                          <th>Message</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let record of myEvents">

                        <tr>
                            <td>
                              <div class="d-flex align-items-center">
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">{{record.event_type }}</p>
                                </div>
                              </div>
                            </td>
                            <td>
                              <p class="fw-normal mb-1">{{ record.sign_time }}</p>
                            </td>
                            <td>
                              <p class="fw-normal mb-1">{{ record.event_message }}</p>
                            </td>
                          </tr>
                      </tbody>
                </table>
            </div>
        </div>
        
        </div>
    </div>

    <div class="row" >
      <div class="col-md-9 col-sm-12 col-xs-12">
      <h3>Sign My Register</h3> 
        <div class="panel panel-default">

            <div class="panel-body">
                <form [formGroup]="eventForm">

                    <ul class="form-style-1">

                        <label>
                          Message for leaving early / Late coming.<span class="required"></span>
                        </label>
                        <input type="text" formControlName="event_message" class="field-divided"/>
                  
                        <button class="btn btn-success square-btn-adjust" type="submit" (click)="signIn()">Sign In</button>

                        <button class="btn btn-warning square-btn-adjust" type="submit" (click)="signOut()">Sign Out</button>
                
                    </ul>

                </form>
            </div>

        </div>
      </div>
    </div>
    <!--End of Main Content here.-- End of module component here.-->